# [mysqld]
# user = mysql
# pid-file = /run/mysqld/mysqld.pid
# socket = /run/mysqld/mysqld.sock
# port = 3306
# basedir = /usr
# datadir = /var/lib/mysql
# tmpdir = /tmp
# bind-address = 0.0.0.0
# query_cache_size = 16M
# log_error = /var/log/mysql/error.log
# expire_logs_days = 10
# character-set-server = utf8mb4
# collation-server = utf8mb4_general_ci

[mysqld]
# デフォルトの文字コードをUTF-8に設定
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# デフォルトのストレージエンジンをInnoDBに設定
default-storage-engine=InnoDB

# デフォルトの文字セットをUTF-8に設定
init-connect='SET NAMES utf8mb4'

# クエリログを有効にする
general_log=1
general_log_file=/var/log/mysql/query.log
log_error=/var/log/mysql/error.log
log_warnings=2

# slow query logを有効にし、実行時間が10秒以上のクエリを記録する
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow-query.log
long_query_time=2

# キャッシュの設定
query_cache_type=1
query_cache_size=64M
query_cache_limit=2M

# MySQL/MariaDBはTCP/IPネットワークを使用しての接続を許可せず、Unixソケットのみを使用
skip-networking
# ログインのためのパスワードを必要とする
require_secure_transport=off

# 許可されたクライアントのホストを指定
bind-address=0.0.0.0

pid-file = /run/mysqld/mysqld.pid
socket = /run/mysqld/mysqld.sock
